	<!-- 頁腳 -->
	<footer id="page-footer">
		<ul class="footer-left">
			<li>
				<a href="">
				關於我們
				</a>
			</li>
			<li>
				<a href="">
				網站地圖
				</a>
			</li>
			<!-- <li>
				<a href="">
				我的收藏
				</a>
			</li> -->
		</ul>
		<ul class="footer-right">
			<li>
				<a href="">
				<span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x"></i>
				  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
				</span>
				Facebook<br>
				</a>
			</li>
			<li>
				<a href="">
				<span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x"></i>
				  <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
				</span>
				Google+<br>
				</a>
			</li>
			<li>
				<a href="">
				<span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x"></i>
				  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
				</span>
				Twitter<br>
				</a>
			</li>
		</ul>
	</footer>